@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans_500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 768px) {
    #mob-about-pg {
        display: none;
    }
}

@media (min-width: 992px) {
    /* LANDING PAGE */
    .navbar-collapse {
        background-color: #fff;
    }
    
    .navbar {
        height: 90px;
    }
    
    .navbar .navbar-collapse .nav-item .nav-link {
        color: #9d9d9d !important;
    }

    .navbar .navbar-brand img {
        width: 100%;
        padding: 0;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 14px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: center;
        margin-right: 2rem;
    }

    .navbar .navbar-nav .nav-item .nav-link-l {
        padding-right: 0;
    }

    .nav-city {
        margin-top: 85px;
        height: 35px;
        background-color: #2972d6;
    }

    .nav-city-wrapper {
        display: flex;
    }

    .nav-city .accordion {
        display: none;
    }

    .nav-city-bx {
        flex-wrap: 1;
    }

    .nav-city-bx a {
        color: #fff;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: normal;
    }

    .banner {
        display: flex;
        margin-top: 144px;
        margin-left: 3.1rem;
        margin-right: 3.1rem;
    }

    .ban-left {
        flex-wrap: 1;
        width: 70%;
        margin-right: 30px;
        height: 450px;
    }

    .ban-left .carousel-inner .carousel-item img {
        height: 450px;
    }

    .ban-right {
        display: block;
        flex-wrap: 1;
        width: 30%;
        margin-top: 0;
    }

    .ban-right img {
        width: 100%;
        height: 450px;
    }

    .banner .carousel-caption p {
        font-size: 1.5rem;
    }

    .news-ar h4 {
        width: 100%;
    }


    .citys .row2 {
        margin: 0 30px;
    }

    .city-1 {
        margin-left: 0px;
        padding-right: 15px !important;
    }

    .city-2, .city-4, .city-5, .city-7, .city-8, .city-10, .city-11 {
        padding-right: 15px !important;
    }

    .city-n-top img {
        height: 200px;
        width: 100%;
    }

    .city-n-bot-left img, .city-n-bot-right img {
        width: 100%;
    }

    .foot-about {
        margin-right: 30px;
    }

    .foot-city, .foot-soc, .foot-cont {
        margin-top: 50px;
    }

    /* .foot-pow {
      display: flex;
    }
    .foot-pow-right {
      background: none;
    }
    .foot-pow-left {
      margin-top: 36px;
    }
    .foot-pow-left h6 {
      margin-top: 20px;
      text-align: left;
      margin-left: 1rem;
    } */
    .foot-pow {
        margin-top: 1rem;
        background: #1157b5;
    }

    .foot-pow-left {
        background: none;
    }

    .foot-pow-right.switch {
        text-align: left;
    }

    .best-news {
        margin-top: 10.3rem;
    }

    .best-news .row {
        margin: 0 1rem;
    }

    .best-city-1, .best-city-4, .best-city-7, .best-city-10 {
        /*padding-right: 10px !important;
        padding-left: 0 !important;*/
    }

    .best-city-2, .best-city-5, .best-city-8, .best-city-11 {
        /*padding-right: 10px !important;*/
        /*padding-left: 0 !important;*/
    }

    .best-city-1 .best-n-img-bck, .best-city-4 .best-n-img-bck, .best-city-7 .best-n-img-bck, .best-city-10 .best-n-img-bck {
         width: 100%;
    }

    .best-city-2 .best-n-img-bck, .best-city-5 .best-n-img-bck, .best-city-8 .best-n-img-bck, .best-city-11 .best-n-img-bck {
        width: 100%;
    }

    .top-nav {
        display: block;
        background: #ebebeb;
    }

    .top-nav .row {
        margin: 0 !important;
    }

    .top-nav-left h4 {
        object-fit: contain;
        font-family: 'MuseoSans';
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #2972d6;
        margin-top: 5px;
        margin-left: 3rem;
    }

    .top-nav-right ul {
        list-style: none;
        display: flex;
        margin-top: 5px;
    }

    .top-nav-right ul li {
        margin-right: 15px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: rgba(41, 114, 214, 0.65);
        cursor: pointer;
    }

    .top-nav-right ul li a {
        color: #fff;
        transition: .5s;
    }

    .top-nav-right ul li:hover {
        background: #0f96ea;
        transition: .5s;
    }

    .top-nav-right ul li a i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
    }

    .navbar {
        margin-top: 2rem !important;
        transition: .5s;
    }

    .nav-city {
        margin-top: 90px;
        transition: .5s;
    }

    .navbar.scrolled {
        margin-top: 0 !important;
        transition: .5s;
    }

    .nav-city.scrolled {
        margin-top: 90px !important;
        transition: .5s;
        box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.16) !important;
    }

    .city-banner {
        margin-top: 8.5rem;
    }

    .city-banner .row {
        margin: 3.12rem !important;
    }

    .city-banner .best-n-img-bck {
        margin: 0 3rem;
    }

    .city-banner img {
        height: 20rem;
    }

    .city-banner-name {
        left: 6rem;
    }

    .city-banner p {
        top: 13rem;
        left: 6rem;
        width: 80%;
    }

    .city-bann-li {
        background: none;
    }

    .city-bann-li .row {
        margin: 0 !important;
        background: #f4f4f4;
        padding-top: 1rem !important;
    }

    .city-bann-li .row .row {
        margin: 0 3rem !important;
    }

    .cit-ban-it img {
        width: 100%;
        height: 12rem;
        border-radius: 15px;
    }

    .cit-blog {
        margin-top: 8.75rem;
    }

    .cit-blog .city-blog-img-cover img {
        width: 100%;
        height: 30rem;
        padding-right: 3.1rem;
        padding-left: 3.1rem;
    }

    .city-blog-wrapper {
        padding-left: 6.2rem !important;
        padding-right: 6.2rem !important;
        margin-top: 1rem;
    }

    .city-blog-main-name {
        width: 9rem;
        height: 3rem;
        font-size: 22px;
        line-height: 2.1 !important;
    }

    .city-blog-wrapper h4 {
        font-size: 25px;
        margin: 2rem 0;
    }

    .city-blog-time {
        border-bottom: 3px solid rgb(41, 114, 214);
        margin-bottom: 3rem;
    }

    .city-blog-time div {
        background: rgb(244, 244, 244);
        height: 2rem;
        width: 6.5rem;
        font-size: 16px;
        line-height: 2;
    }

    .city-blog-wrapper p {
        font-family: 'MuseoSans';
        font-weight: 300;
        color: rgb(39, 39, 39);
        font-size: 16px;
    }

    .redaction {
        margin-top: 15rem;
        margin-bottom: 10rem;
    }

    .redaction .row {
        margin-left: 3.1rem;
        margin-right: 3.1rem;
    }

    .redaction ul {
        border-bottom: none;
    }

    .redaction .row:first-child {
        border-bottom: 2px solid rgb(41, 114, 214);
        margin-bottom: 2rem;
    }

    .redaction .row:first-child ul {
        padding-bottom: 1rem;
    }

    .red-bx ul {
        margin: 0;
    }

    .about-pg {
        display: block;
        background: url('../images/banner/aboutbck.png') no-repeat center;
        background-size: cover;
        margin-top: 7.5rem;
        height: 90vh;
    }

    .about-pg-logo {
        text-align: center;
        margin-top: 7rem;
    }

    .about-pg-logo img {
        width: 20rem;
        height: 6rem;
    }

    .about-pg .row {
        margin-left: 6.2rem;
        margin-right: 6.2rem;
    }

    .about-cit .foot-cit-head,
    .about-soc .foot-soc-head,
    .about-cont .foot-cont-head {
        color: #2972d6;
        border-color: #2972d6;
    }

    .about-cit .foot-cit-ul ul li a {
        color: #2972d6;
    }

    .about-soc ul {
        list-style: none;
        padding-left: 0;
    }

    .about-soc ul li img {
        margin-right: 1rem;
    }

    .about-soc ul li {
        margin-bottom: 1rem;
    }

    .about-soc ul li a {
        text-decoration: none;
        color: #2972d6;
    }

    .about-cont h5,
    .about-cont p {
        color: #2972d6;
    }

    .about-credentials {
        display: block;
        background: #2972d6;
        position: relative;
    }

    .about-credentials .row {
        margin-left: 3.1rem;
        margin-right: 3.1rem;
    }

    .about-pow-right {
        display: flex;
    }

    .about-pow-right img {
        width: 6rem;
        height: 1.25rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .about-pow-right h4 {
        margin-left: auto;
        margin-right: 1.25rem;
        color: #fff;
        font-size: 1rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .about-pow-left h6 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
    }
}

@media (min-width: 1200px) {
    /*  LANDING PAGE */

    .nav-city .nav-city-bx-f {
        padding-left: 50px !important;
    }

    .banner {
        margin-top: 144px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .ban-right {
        margin: 0 0 0 16px;
    }

    /* OVDJE NEWS LANDING PAGE */
    .citys .row2 {
        margin: 0 3.1rem;
    }

    .city-n-top img {
        height: 200px;
        width: 100%;
    }

    .city-n-bot-left img, .city-n-bot-right img {
        width: 100%;
    }

    .citys .row2 {
        margin: 3rem !important;
    }

    .best-news .row {
        margin: 0 4rem;
    }

    /*.best-city-1 .best-n-top img, .best-city-2 .best-n-top img, .best-city-3 .best-n-top img, .best-city-4 .best-n-top img, .best-city-5 .best-n-top img, .best-city-6 .best-n-top img, .best-city-7 .best-n-top img, .best-city-8 .best-n-top img, .best-city-9 .best-n-top img, .best-city-10 .best-n-top img, .best-city-11 .best-n-top img, .best-city-12 .best-n-top img {*/
    /*    width: 100%;*/
    /*    height: 18.12rem;*/
    /*}*/
    /*.best-n-caption div {
        width: 90%;
        height: 3px;
        background: rgb(255, 255, 255, 0.5);
        transform: translateY(-0.9rem);
    }*/

    .best-n-caption small {
        background-color: rgb(0, 0, 0, 0.5);
        font-size: 12px;
        width: 25%;
        height: 20px;
    }

    .best-n-caption h4 {
        font-size: 20px;
    }

    .best-n-caption p {
        top: 0;
        left: 15px;
        right: -10px;
        margin-top: 0px;
        font-size: 14px;
    }

    .city-banner-name {
        top: 15rem;
        font-size: 20px;
        width: 8rem;
        height: 2rem;
        line-height: 1.5;
    }

    .city-banner p {
        top: 18rem;
        font-size: 20px;
        font-family: 'Muli';
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
    }
}

@media screen and (device-width: 360px) and (device-height: 640px) {
    .ban-right img {
        width: 100%;
    }
}

@media screen and (device-width: 360px) and (device-height: 740px) {
    .ban-right img {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .city-n-top img {
        width: 100%;
    }

    .city-n-bot-left img, .city-n-bot-right img {
        width: 100%;
    }

    .city-n-caption-b-l p, .city-n-caption-b-r p {
        width: 80%;
    }

    /*.best-city-1 .best-n-top img, .best-city-2 .best-n-top img, .best-city-3 .best-n-top img, .best-city-4 .best-n-top img, .best-city-5 .best-n-top img, .best-city-6 .best-n-top img, .best-city-7 .best-n-top img, .best-city-8 .best-n-top img, .best-city-9 .best-n-top img, .best-city-10 .best-n-top img, .best-city-11 .best-n-top img, .best-city-12 .best-n-top img {*/
    /*    width: 100%;*/
    /*    height: 18.12rem;*/
    /*}*/
}

@media (min-width: 1900px) {
    /*.best-city-1 .best-n-top img, .best-city-2 .best-n-top img, .best-city-3 .best-n-top img, .best-city-4 .best-n-top img, .best-city-5 .best-n-top img, .best-city-6 .best-n-top img, .best-city-7 .best-n-top img, .best-city-8 .best-n-top img, .best-city-9 .best-n-top img, .best-city-10 .best-n-top img, .best-city-11 .best-n-top img, .best-city-12 .best-n-top img {*/
    /*    width: 100%;*/
    /*    height: 21.8rem;*/
    /*}*/
    /*.best-n-caption {
        top: -150px;
    }

    .best-n-caption small {
        left: 30px;
        font-size: 15px;
        height: 25px;
        transform: translateY(-70px);
    }

    .best-n-caption p {
        top: 0;
        left: 30px;
        right: 10px;
        bottom: 0;
        margin-top: 30px;
        font-size: 25px;
    }

    .best-n-caption h4 {
        top: 0;
        left: 30px;
        right: -1px;
        bottom: 0;
        transform: translateY(-45px);
        font-size: 30px;
    }*/

    .best-n-head {
        width: 210px;
        height: 50px;
        /*top: -20px;*/
    }

    .city-banner .row {
        /*margin-left: 8.7rem !important;
        margin-right: 8.7rem !important;*/
    }

    .best-n-head h6 {
        font-size: 24px;
        padding-top: 10px;
    }

    .city-banner-name {
        top: 23rem;
        font-size: 25px;
        width: 13rem;
        height: 2.8rem;
        line-height: 1.7;
        left: 11rem;
    }

    .city-banner p {
        top: 28rem;
        left: 11rem;
        font-size: 30px;
        letter-spacing: normal;
    }

    .city-banner img {
        height: 40rem;
    }

    .city-bann-li .row {
        /*margin: 0 !important;*/
        background: #f4f4f4;
        padding-top: 1rem !important;
    }

    .city-bann-li .row .row {
        /*margin: 0 8.7rem !important;*/
    }

    .cit-ban-it img {
        width: 100%;
        height: 18rem;
        border-radius: 15px;
    }

    .cit-ban-it small {
        display: block;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 20px;
        
    }

    .cit-ban-it p {
        font-size: 20px;
    }

    .cit-blog {
        margin-top: 8.75rem;
    }

    .cit-blog .city-blog-img-cover img {
        width: 100%;
        height: 30rem;
        padding-right: 8.7rem;
        padding-left: 8.7rem;
    }

    .city-blog-wrapper {
        padding-left: 17.4rem !important;
        padding-right: 17.7rem !important;
        margin-top: 1rem;
    }

    .city-blog-main-name {
        width: 9rem;
        height: 3rem;
        font-size: 22px;
        line-height: 2.1 !important;
    }

    .city-blog-wrapper h4 {
        font-size: 25px;
        margin: 2rem 0;
    }

    .city-blog-time {
        border-bottom: 2px solid rgb(41, 114, 214);
        margin-bottom: 3rem;
    }

    .city-blog-time div {
        background: rgb(244, 244, 244);
        height: 2rem;
        width: 6.5rem;
        font-size: 16px;
        line-height: 2;
    }

    .city-blog-wrapper p {
        font-family: 'MuseoSans';
        font-weight: 300;
        color: rgb(39, 39, 39);
        font-size: 16px;
    }

    .redaction .row {
        margin-left: 8.7rem;
        margin-right: 8.7rem;
    }

    .redaction .red-bx ul li {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .best-news {
        margin-top: 10.3rem;
    }

    .best-news .row {
        margin: 0 2rem;
    }

    .city-n-caption-b-l,
    .city-n-caption-b-r {
        top: 3rem;
    }

    /*.city-1,*/
    /*.city-2,*/
    /*.city-3,*/
    /*.city-4,*/
    /*.city-5,*/
    /*.city-6,*/
    /*.city-7,*/
    /*.city-8,*/
    /*.city-9,*/
    /*.city-10,*/
    /*.city-11,*/
    /*.city-12,*/
    /*.best-city-1,*/
    /*.best-city-2,*/
    /*.best-city-3,*/
    /*.best-city-4,*/
    /*.best-city-5,*/
    /*.best-city-6,*/
    /*.best-city-7,*/
    /*.best-city-8,*/
    /*.best-city-9,*/
    /*.best-city-10,*/
    /*.best-city-11,*/
    /*.best-city-12 {*/
    /*    max-width: 31% !important;*/
    /*    margin-right: 1rem;*/
    /*}*/
    .best-city-3,
    .best-city-6,
    .best-city-9,
    .best-city-12 {
        margin-right: 0;
    }

    .best-city-1 p,
    .best-city-2 p,
    .best-city-3 p,
    .best-city-4 p,
    .best-city-5 p,
    .best-city-6 p,
    .best-city-7 p,
    .best-city-8 p,
    .best-city-9 p,
    .best-city-10 p,
    .best-city-11 p,
    .best-city-12 p {
        display: none;
    }

    /*.best-city-1 h4,
    .best-city-2 h4,
    .best-city-3 h4,
    .best-city-4 h4,
    .best-city-5 h4,
    .best-city-6 h4,
    .best-city-7 h4,
    .best-city-8 h4,
    .best-city-9 h4,
    .best-city-10 h4,
    .best-city-11 h4,
    .best-city-12 h4 {
        font-size: 1rem;
        transform: translateY(0.8rem);
    }*/

    /*.best-n-caption small {
        transform: translateY(-0.8rem);
    }*/

    .foot-about img {
        width: 100%;
    }

    .city-bann-li .row .row {/*
        margin-left: 2rem !important;
        margin-right: 2rem !important;*/
    }

    .cit-ban-it:nth-child(4),
    .cit-ban-it:nth-child(8),
    .cit-ban-it:nth-child(12) {
        padding-right: 0 !important;
    }

    .redaction .row:last-child .red-bx:last-child ul {
        border-bottom: 2px solid rgb(41, 114, 214);
    }
}

@media screen and (max-width: 320px) {
    .city-bann-li .row .row {
        margin-left: 0rem !important;/*
        margin-right: 1rem !important;*/
    }
}

@media (min-width: 992px) and (max-width: 1366px) {
    .radio_text {
        display: none;
    }
}
