/*======================================
            GENERAL
=======================================*/

/*

    1. GENERAL SETTINGS
    2. NAVIGATION
    3. BANNER
    4. 4 NEWS
    5. CITIES
    6. FOOTER
    7. BLOG - NEWS PAGINATION
    8. BLOG DETAILS
    9. CITY PAGE
*/

/*======================================
        1. GENERAL SETTINGS
=======================================*/

/* @media screen and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100vh !important;
      height: 100vh !important;
    }
} */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

a, input, button, span, i, div, select, option:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none !important;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans_500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*======================================
        2. NAVIGATION
=======================================*/

nav {
    background-color: #fff;
}


.navbar-collapse {
    background: #fff;
    /*padding-right: 30px !important;*/
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #2972d6 !important;
    font-family: 'MuseoSans';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-transform: uppercase;
}

.active_navlink a {
    color: #2972d6 !important;
}

.navbar-light .navbar-nav .nav-link {
    text-align: center;
}

.navbar-expand-lg .containerr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar .navbar-brand img {
    width: 100%;
    padding-left: 20px;
}

.nav-city {
    margin-top: 85px;
    text-align: center;
    z-index: 999 !important;
}

.accordion > .card .card-header {
    height: 35px !important;
    background: #2972d6;
    padding: 0;
}

.accordion > .card .card-header h2 {
    color: #ffffff !important;
}

.accordion > .card .card-header button {
    padding: 0 !important;
    font-size: 16px !important;
    text-decoration: none;
    color: #fff;
}

.accordion > .card .card-body {
    background: #2972d6;
}

.accordion > .card .card-body .nav-city-bx a {
    color: #fff;
    font-family: 'MuseoSans';
}

.navbar-light .navbar-toggler {
    border: none;
    color: #2972d6 !important;
    font-size: 2rem;
}

.navbar-collapse {
    background-color: #fff;
    z-index: 9999 !important;
}

.navbar .navbar-collapse .nav-item .nav-link {
    color: #0284da !important;
}

.nav-city-wrapper {
    display: none;
}

.cit-rotate {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.cit-rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.top-nav {
    display: none;
}

/*======================================
        3. BANNER
=======================================*/

.banner {
    margin-top: 124px;
    z-index: -1 !important;
}

.ban-left {
    width: 100%;
}

.ban-left .carousel-item img {
    height: 45vh;
}

.ban-right {
    margin: 0 16px;
    margin-top: 10px;
}

.ban-right img {
    width: 100%;
    height: 50px;
}

.banner .carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.banner .carousel-caption p {
    text-align: left;
    font-family: 'Muli';
}

/*======================================
        4. NEWS
=======================================*/

.news {
    margin-top: 1.2rem;
}

.news > .row2 {
    background: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background: #f4f4f4;
}

.nav-city-bx a {
    color: #ccc !important;
}
.active_link a {
    color: #fff !important;
    font-weight: bold;
}



.news-ar {
    display: flex;
    background: #f4f4f4;
    border-bottom: 3px solid #2972d6;
    margin-bottom: 18px;
    /*width: 100%;*/
}

.news-ar h4 {
    flex-wrap: 1;
    font-size: 18px;
    line-height: 1.22;
    float: left;
    padding-top: 13px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    font-family: 'MuseoSans';
}

.news-ar button {
    flex-wrap: 1;
    width: 42px;
    height: 42px;
    color: #fff;
    background: #2972d6;
    border: none;
    float: right;
}

.news .row {
    margin: 0;
}

.news .news-bx {
    width: 50%;
}

.news .news-bx img {
    width: 100%;
    border-radius: 10px;
}

.news .news-bx p {
    opacity: 0.5;
    font-family: 'MuseoSans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2c2c2c;
}

.news .news-bx h4 {
    font-family: 'Muli';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #272727;
}

/*======================================
        5. CITYS
=======================================*/

.citys {
    margin-top: 1.4rem;
}

.city-1, .city-2, .city-3, .city-4, .city-5, .city-6, .city-7, .city-8, .city-9, .city-10, .city-11, .city-12 {
    padding-top: 2.6rem;
    position: relative;
}

.citys .col-sm-12, .citys .col-md-4, .citys .col-lg-4 {
    padding-right: 0;
    padding-left: 0;
}

.city-n-top {
    margin-bottom: 5px;
    overflow: hidden;
}

.city-n-bot-left {
    margin-right: 6px;
}

.city-n-bot-left img,
.city-n-bot-right img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.city-head-name {
    width: 167.7px;
    height: 30.8px;
    background-color: #0284da;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.city-head-web {
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    color: #2972d6;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
}

.radio_text {
    display: inline-block;
}

.city-head-radio {
    width: auto;
    height: 2rem;
    background-color: #fff;
    color: #2972d6;
    border-radius: 20px;
    position: absolute;
    right: 25px;
    top: 7%;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
}

.city-head-radio i {
    position: relative;
}

.city-2 .city-head-name {
    background: #ec5252;
}

.city-2 .city-head-name h6 {
    padding-left: 3.6rem;
}

.city-2 .city-head-name i {
    margin-left: 2.37rem;
}

.city-3 .city-head-name {
    background: #ba6ae8;
}

.city-3 .city-head-name h6 {
    padding-left: 3.4rem;
}

.city-3 .city-head-name i {
    margin-left: 2.1rem;
}

.city-4 .city-head-name {
    background: #8cb472;
}

.city-4 .city-head-name h6 {
    padding-left: 2.1rem;
}

.city-4 .city-head-name i {
    margin-left: 0.8rem;
}

.city-5 .city-head-name {
    background: #8a8ff6;
}

.city-5 .city-head-name h6 {
    padding-left: 2.4rem;
}

.city-5 .city-head-name i {
    margin-left: 1.1rem;
}

.city-6 .city-head-name {
    background: #ea9d7a;
}

.city-6 .city-head-name h6 {
    padding-left: 2.1rem;
}

.city-6 .city-head-name i {
    margin-left: 0.8rem;
}

.city-7 .city-head-name {
    background: #26beb9;
}

.city-7 .city-head-name h6 {
    padding-left: 3.3rem;
}

.city-7 .city-head-name i {
    margin-left: 2rem;
}

.city-8 .city-head-name {
    background: #0f96ea;
}

.city-8 .city-head-name h6 {
    padding-left: 2.4rem;
}

.city-8 .city-head-name i {
    margin-left: 1.1rem;
}

.city-9 .city-head-name {
    background: #d08ac1;
}

.city-9 .city-head-name h6 {
    padding-left: 3.8rem;
}

.city-9 .city-head-name i {
    margin-left: 2.5rem;
}

.city-10 .city-head-name {
    background: #099ca4;
}

.city-10 .city-head-name h6 {
    padding-left: 4.3rem;
}

.city-10 .city-head-name i {
    margin-left: 3rem;
}

.city-11 .city-head-name {
    background: #ecc352;
}

.city-11 .city-head-name h6 {
    padding-left: 3.7rem;
}

.city-11 .city-head-name i {
    margin-left: 2.4rem;
}

.city-12 .city-head-name {
    background: #8ed065;
}

.city-12 .city-head-name h6 {
    padding-left: 4.1rem;
}

.city-12 .city-head-name i {
    margin-left: 2.8rem;
}

.city-bann {
    margin-top: 20px;
    width: 100%;
}

.city-bann img {
    width: 100%;
}

.city-head-name h6 {
    /* font-family: MuseoSans; */
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 0.31rem;
    padding-left: 2.6rem;
}

.city-head-name i {
    margin-left: 1.3rem;
    margin-top: 0.31rem;
}

.city-n-top img, .city-n-bot-left img, .city-n-bot-right img {
    height: 160px;
    width: 100%;
}

.city-n-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0.8rem;
    z-index: 10;
    /* padding: 112px 37px 30px 15px; */
    text-align: left;
    color: #fff;
}

.city-n-caption small, .city-n-caption-b-l small, .city-n-caption-b-r small {
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 2.5px 3.5px 3px 6.8px;
    color: #fff;
}

.city-n-caption p, .city-n-caption-b-l p, .city-n-caption-b-r p {
    font-size: 16px !important;
    font-family: 'Muli';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.city-n-caption-b-l p, .city-n-caption-b-r p {
    margin-bottom: 0 !important;
}

.city-n-caption-b-l {
    position: absolute;
    z-index: 10;
    text-align: left;
    color: #fff;
}

.city-n-caption-b-r {
    position: absolute;
    z-index: 10;
    text-align: left;
    color: #fff;
}

.city-n-top, .city-n-bot-left, .city-n-bot-right {
    position: relative;
}

.city-n-img-overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

/*======================================
        5. FOOTER
=======================================*/

/* .footer{
    margin-top: 35px;
    background: #2972d6;
    width: 100%;
}

.foot-about{
    margin-left: 20px;
    padding-top: 22px;
}

.foot-about img{
    width: 250px;
    height: 56px;
}

.foot-about p{
    color: #fff;
    width: 313px;
    padding-top: 23px;
    padding-bottom: 18px;
    font-size: 14px;
    font-family: 'MuseoSans';
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
}

.foot-cit-head{
    color: #fff;
    width: 250px;
    border-bottom: 1px solid #fff;
    margin-left: 20px;
    margin-top: 36px;
    margin-bottom: 33px;
    font-family: 'MuseoSans';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
}

.foot-cit-ul{
    display: flex;
}

.foot-cit-left, .foot-cit-right{
    list-style: none;
}

.foot-cit-left{
    padding-left: 20px !important;
}

.foot-cit-left li a, .foot-cit-right li a{
    font-size: 16px;
    color: #fff;
    opacity: 0.65;
    font-family: 'MuseoSans';
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
}

.foot-soc-head{
    font-family: 'MuseoSans';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
    width: 250px;
    border-bottom: 1px solid #fff;
    margin-left: 20px;
    margin-top: 36px;
    margin-bottom: 33px;
}

.foot-soc ul{
    list-style: none;
    padding-left: 20px !important;
}

.foot-soc ul li{
    padding-bottom: 18px;
}

.foot-soc ul li a{
    opacity: 0.65;
    font-family: 'MuseoSans';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
}

.foot-soc ul li img{
    padding-right: 15px;
}

.foot-cont{
    margin-top: 36px;
}

.foot-cont-head{
    font-family: 'MuseoSans';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 20px;
    border-bottom: 1px solid #fff;
    width: 250px;
}

.foot-cont h5{
    opacity: 0.65;
    font-family: 'MuseoSans';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-top: 30px;
}

.foot-cont p{
    opacity: 0.65;
    font-family: 'MuseoSans';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 36px;
}

.foot-pow{
    display: flex;
    width: 100%;
    height: 61px;
    background-color: #1157b5;
}

.foot-pow h4{
    font-family: 'MuseoSans';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.foot-pow img{
    width: 124px;
    height: 21px;
}

.footer h6{
    padding: 5px 62px 9px 63px;
    font-family: 'MuseoSans';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.foot-pow-right{
    display: flex;
    background-color: #2972d6;
} */

footer {
    background: #2972d6;
}

.foot-about {
    margin-top: 23px;
}

.foot-about img:first-child {
    margin-bottom: 23px;
}

.foot-about p {
    font-family: 'MuseoSans';
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #ffffff;
}

.foot-cit-ul {
    display: flex;
}

.foot-cit-head, .foot-soc-head, .foot-cont-head {
    font-family: 'MuseoSans';
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
    border-bottom: 1px solid #fff;
    margin-bottom: 38px;
    margin-top: 36px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.foot-cit-ul ul:first-child, .foot-soc ul {
    list-style: none;
    padding-left: 0;
}

.foot-cit-ul ul:last-child {
    list-style: none;
}

.foot-cit-ul ul li a {
    text-decoration: none;
    opacity: 0.65;
    font-family: 'MuseoSans';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.foot-soc ul li {
    padding-bottom: 1rem;
}

.foot-soc ul li:last-child {
    padding-bottom: 0px;
}

.foot-soc ul li img {
    padding-right: 1rem;
}

.foot-soc ul li a {
    opacity: 0.65;
    font-family: 'MuseoSans';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.foot-cont h5 {
    opacity: 0.65;
    font-family: 'MuseoSans';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.foot-cont p {
    opacity: 0.65;
    font-family: 'MuseoSans';
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

/* .foot-pow-right {
    display: flex;
    background-color: #1157b5;
    width: 100%;
    height: 61px;
    margin-top: 36px;
}

.foot-pow-right h4 {
    font-family: 'MuseoSans';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 23px;
    margin-left: 67px;
    margin-right: 14px;
}

.foot-pow-right img {
    width: 124px;
    height: 21px;
    margin-top: 18px;
}

.foot-pow-left h6 {
    font-family: 'MuseoSans';
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
} */

.foot-pow {
    text-align: center;
}

.foot-pow .row {
    margin: 0;
}

.foot-pow-left {
    display: flex;
    height: 3.7rem;
    background: #1157b5;
    margin-right: 0rem;
}

.foot-pow-left img {
    width: 6rem;
    height: 1.25rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    margin-left: 1rem;
}

.foot-pow-left h6 {
    color: #fff;
    height: 1.25rem;
    font-family: 'Muli';
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    margin-right: 1rem;
}

.foot-pow-right h6 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

/*======================================
        6. BEST NEWS PAGE
=======================================*/

.best-news {
    margin-top: 9.3rem;
    position: relative;
}

.best-news .row {
    margin: 0;
}

.best-city-1, .best-city-2, .best-city-3, .best-city-4, .best-city-5, .best-city-6, .best-city-7, .best-city-8, .best-city-9, .best-city-10, .best-city-11, .best-city-12 {
    position: relative;
    margin-bottom: 30px;
    /*padding: 0 !important;*/
}

.best-n-top {
    height: 415px;
    overflow: hidden;
    position: relative;
}

.best-city-1 .best-n-top img, .best-city-2 .best-n-top img, .best-city-3 .best-n-top img, .best-city-4 .best-n-top img, .best-city-5 .best-n-top img, .best-city-6 .best-n-top img, .best-city-7 .best-n-top img, .best-city-8 .best-n-top img, .best-city-9 .best-n-top img, .best-city-10 .best-n-top img, .best-city-11 .best-n-top img, .best-city-12 .best-n-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best-n-img-bck {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
}

.best-n-head {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    border-radius: 5px;
    color: #fff;
    width: 160px;
    height: 30px;
    z-index: 1;
}

.best-n-head h6 {
    padding-top: 6px;
    text-align: center;
}

.best-city-1 .best-n-head {
    background: #0284da;
}

.best-city-2 .best-n-head {
    background: #ec5252;
}

.best-city-3 .best-n-head {
    background: #ba6ae8;
}

.best-city-4 .best-n-head {
    background: #91ba76;
}

.best-city-5 .best-n-head {
    background: #8b90f8;
}

.best-city-6 .best-n-head {
    background: #ec9e7b;
}

.best-city-7 .best-n-head {
    background: #26beb9;
}

.best-city-8 .best-n-head {
    background: #0f96ea;
}

.best-city-9 .best-n-head {
    background: #d08ac1;
}

.best-city-10 .best-n-head {
    background: #099ca4;
}

.best-city-11 .best-n-head {
    background: #ecc352;
}

.best-city-12 .best-n-head {
    background: #8ed065;
}

.best-n-caption hr {
    background: #fff;
}

.best-n-caption {
    position: absolute;
    color: white;
    bottom: 20px;
    /*left: 10px;*/
    padding: 10px;
}

.best-n-caption small {
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 12px;
}

.best-n-caption h4 {
    font-family: 'Muli';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.best-n-caption p {
    font-family: 'MuseoSans';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    width: 90%;
}

/*======================================
        7. CITY PAGE
=======================================*/

.city-banner {
    margin-top: 7.5rem;
    position: relative;
}

.city-banner img {
    width: 100%;
    height: 16rem;
}

.city-banner .row {
    margin: 0 !important;
}

.city-banner-name {
    position: absolute;
    top: 9rem;
    left: 1rem;
    right: 0;
    bottom: 0;
    width: 6.8rem;
    height: 1.8rem;
    border-radius: 5px;
    color: #fff;
    background: rgb(236, 82, 82);
    text-align: center;
    vertical-align: middle;
    line-height: 1.8;
}

.city-banner p {
    position: absolute;
    top: 11.5rem;
    left: 1rem;
    right: 0;
    bottom: 0;
    color: #fff;
    font-weight: bold;
}

/*======================================
        7. CITYS PAGE - CITY NEWS 
=======================================*/

.city-bann-li {
    margin-top: 10px;
    background: #f4f4f4;
}

.city-bann-li .row {
    margin: 0 !important;
}

.city-bann-li .row .row {
    margin: 0;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.cit-ban-it {
    width: 50% !important;
}

.cit-ban-it img {
    width: 9rem;
    height: 8rem;
    border-radius: 8px;
}

.cit-ban-it p {
    color: #2c2c2c;
    font-size: 16px;
    font-weight: bold;
}

/*======================================
        8. CITY PAGE - CITY BLOG 
=======================================*/

.cit-blog {
    margin-top: 7.5rem;
}

.cit-blog .city-blog-img-cover img {
    width: 100%;
    height: 16rem;
}

.cit-blog .row {
    margin: 0;
}

.city-blog-wrapper {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    margin-top: 1rem;
}

.city-blog-main-name {
    background-color: rgb(236, 82, 82);
    width: 7.1rem;
    height: 2rem;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    line-height: 1.9 !important;
}

.city-blog-wrapper h4 {
    font-family: 'MuseoSans';
    color: rgb(39, 39, 39);
    font-size: 22px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.city-blog-time {
    border-bottom: 2px solid rgb(41, 114, 214);
    margin-bottom: 2.1rem;
}

.city-blog-time div {
    background: rgb(244, 244, 244);
    height: 1.4rem;
    width: 5.1rem;
    font-size: 12px;
    color: rgb(44, 44, 44);
    font-family: 'MuseoSans';
    text-align: center;
    line-height: 1.9;
}

.city-blog-wrapper p {
    font-family: 'MuseoSans';
    font-weight: 300;
    color: rgb(39, 39, 39);
    font-size: 16px;
}

/*======================================
        9. REDACTION PAGE
=======================================*/

.redaction {
    margin-top: 10rem;
}

.redaction ul {
    list-style: none;
}

.redaction .row {
    margin: 0;
}

.red-bx i {
    transform: scaleX(-1);
    color: rgb(41, 114, 214);
    margin-right: 0.8rem;
}

.red-bx ul {
    padding-left: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    border-bottom: 2px solid rgb(41, 114, 214);
}

.red-bx ul li {
    margin-bottom: 1rem;
}

.redaction .row:last-child .red-bx:last-child ul {
    border-bottom: none;
}

#mob-about-pg {
    margin-top: 7.5rem;
}

.about-pg {
    display: none;
}

.about-credentials {
    display: none;
}